/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

/* 윤곽 */
html, body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
}

/* header */
header{
    font-family: 'Single Day', cursive;
    margin-left: -2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 10%;
    background-color: gray;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
}
header a{
    color: white;
    font-size: 30px;
}
header #list a{
    color: yellow;
}
header a:hover{
    color: yellow;
    font-size: 40px;
}

/* main */
main{
    margin: 2% 0 0 -2%;
    width: 90%;
    height: 70%;
    border-radius: 20px;
    background-color: darkgray;
    box-shadow: 10px 10px 10px black;
}
main div{
    display: flex;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    height: 5%;
    margin-top: 1%;
}
main a{
    width: 20%;
    text-align: center;
}
main span{
    color: white;
    font-size: 25px;
    font-family: 'Single Day', cursive;
    text-align: center;
    width: 20%;
}

/* footer */
footer{
    margin: 2% 0 0 -2%;
    display: flex;
    justify-content: end;
    width: 90%;
    height: 10%;
}
footer button{
    font-family: 'Single Day', cursive;
    width: 130px;
    height: 60px;
    border-radius: 10px;
    border: 5px solid black;
    background-color: darkgray;
    color: white;
    font-size: 20px;
    box-shadow: 5px 5px 5px black;
}
footer button:hover{
    background-color: darkgray;
    color: black;
    box-shadow: inset 5px 5px 5px black;
}
footer a{
    margin-left: 4%;
}